body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    margin: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
    text-align: center;
}

h1 {
    color: white;
}

form {
    margin: 20px 0;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #ff7eb3;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ff4f81;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    background: #d3ffd3;
}